//colors
$scissorsGradient: hsl(39, 89%, 49%);
$paperGradient: hsl(229, 64%, 46%);
$rockGradient: hsl(349, 71%, 52%);

//text
$darkText: hsl(229, 25%, 31%);
$scoreText: hsl(229, 64%, 46%);
$headerOutline: hsl(217, 16%, 45%);

//Background
$backgroundGradient: linear-gradient(135deg, hsl(214, 47%, 23%) ,hsl(237, 49%, 15%));

//Images
$imageP: "../images/icon-paper.svg";
$imageS: "../images/icon-scissors.svg";
$imageR: "../images/icon-rock.svg";